<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body><div class="depot-form">
  
  &lt;%= error_messages_for 'order' %&gt;
  
  &lt;% form_for :order, :url =&gt; { :action =&gt; :save_order } do |form| %&gt;
    <fieldset>
<!-- START_HIGHLIGHT -->
      <legend>&lt;%= I18n.t 'checkout.legend' %&gt;</legend>
<!-- END_HIGHLIGHT -->

      <div>
<!-- START_HIGHLIGHT -->
        &lt;%= form.label :name, I18n.t('checkout.name') + ":" %&gt;
<!-- END_HIGHLIGHT -->
        &lt;%= form.text_field :name, :size =&gt; 40 %&gt;
      </div>

      <div>
<!-- START_HIGHLIGHT -->
        &lt;%= form.label :address, I18n.t('checkout.address') + ":" %&gt;
<!-- END_HIGHLIGHT -->
        &lt;%= form.text_area :address, :rows =&gt; 3, :cols =&gt; 40 %&gt;
      </div>

      <div>
<!-- START_HIGHLIGHT -->
        &lt;%= form.label :email, I18n.t('checkout.email') + ":" %&gt;
<!-- END_HIGHLIGHT -->
        &lt;%= form.text_field :email, :size =&gt; 40 %&gt;
      </div>

      <div>
<!-- START_HIGHLIGHT -->
        &lt;%= form.label :pay_type, I18n.t('checkout.pay_type') + ":" %&gt;
<!-- END_HIGHLIGHT -->
        &lt;%=
          form.select :pay_type,
                       Order::PAYMENT_TYPES, 
# START_HIGHLIGHT
                      :prompt =&gt; I18n.t('checkout.pay_prompt')
# END_HIGHLIGHT
        %&gt;
      </div>
    
<!-- START_HIGHLIGHT -->
      &lt;%= submit_tag I18n.t('checkout.submit'), :class =&gt; "submit" %&gt;
<!-- END_HIGHLIGHT -->
    </fieldset>
  &lt;% end %&gt;  
</div>
</body></html>