<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body><h1>Welcome</h1>

It's &lt;%= Time.now %&gt;
We have &lt;%= pluralize(@total_orders, "order") %&gt;.
</body></html>